{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block title %}{{ parent() }} Finalisation{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="large-12 columns">
        <h1>Merci encore de votre commande !</h1>
        <p>
            Le musée du louvre vous remercie de votre commande et vous souhaite une très bonne visite,
            vos billets vous seront envoyés par mail !
        </p>
        <a href="{{ path('homepage') }}">Retourner à l'accueil</a>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>

{% endblock %}