{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block title %} Informations  {% endblock %}

{% block body %}

    {{ parent() }}

    <h2 class="text-center">{{ block('title') }}</h2>

    <div class="container-fluid">
        <div id="commande" class="">
            {% for flashMessage in app.session.flashbag.get('problem-age') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="well">
                {{ form_start(infoForm) }}

                <div class="form-group">
                    {% for infos in infoForm %}
                    <div class="col-sm-12">
                      {{ form_widget(infos) }}
                    </div>
                    {% endfor %}
                    <div>Attention ! Si vous avez choisi un tarif reduit, vous devrez présenter votre carte étudiant ou équivalent à l'éntrée.</div>
                </div>
                <input class="btn btn-primary" id = "next" type ="submit" value="Suivant"/></input>





                {{ form_end(infoForm) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>

{% endblock %}